body {
  background: #000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 420px;
}

.sidebar_navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
  color: #b3b3b3;
  font-family: "DM Sans", sans-serif;
}

.library {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
  color: #b3b3b3;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif), sans-serif;
}

.sidebar_navigation .logo {
  background: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}

.library {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}

.library h2 {
  margin: 10px 0;
  padding-left: 16px;
}

.playlist {
  margin: 10px 10px 0 0;
  background-color: #242424;
  padding: 16px 0 16px 16px;
  border-radius: 8px;
  color: #fff;
  overflow-y: auto;
}

.playlist span {
  font-size: 16px;
}

.playlist h4, .podcast h4 {
  padding: 15px 0 20px 0;
  font-size: 14px;
}

.playlist span, .cookies span {
  display: block;
}

.playlist button {
  border-radius: 15px;
  border: 0;
  padding: 4px 8px;
  cursor: pointer;
  color: #121212;
  font-weight: 600;
  font-size: 12px;
}

.podcast {
  margin: 10px 10px 0 0;
  background-color: #242424;
  padding: 16px 0 16px 16px;
  border-radius: 8px;
  color: #fff;
  overflow-y: auto;
}

.podcast button {
  border-radius: 15px;
  border: 0;
  padding: 4px 8px;
  cursor: pointer;
  color: #121212;
  font-weight: 600;
  font-size: 12px;
}

.cookies span {
  font-size: 8px;
  padding: 20px 0;
}

.cookies button {
  border-radius: 15px;
  border: 0.1px solid #fff;
  padding: 5px 15px;
  cursor: pointer;
  color: #fff;
  background-color: #121212;
  font-weight: 600;
  font-size: 12px;
}